<h2>Purchase Orders</h2>
<table>
  <thead>
    <tr>
      <th>PO No</th>
      <th>Supplier</th>
      <th>Date</th>
      <th>Total</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% pos.forEach(po => { %>
      <tr>
        <td><%= po.number %></td>
        <td><%= po.supplier %></td>
        <td><%= po.date %></td>
        <td><%= po.total %></td>
        <td><a href="#">View</a></td>
      </tr>
    <% }) %>
  </tbody>
</table>
